// Color palette

$dark-1: #2e3440;
$dark-2: #3b4252;
$dark-3: #434c5e;
$dark-4: #4c566a;

$light-1: #d8dee9;
$light-2: #e5e9f0;
$light-3: #eceff4;

$blueish-1: #8fbcbb;
$blueish-2: #88c0d0;
$blueish-3: #81a1c1;
$blueish-4: #5e81ac;

$aurora-1: #bf616a;
$aurora-2: #d08770;
$aurora-3: #ebcb8b;
$aurora-4: #a3be8c;
$aurora-5: #b48ead;