// Nord Palette
$nord0: #2e3440;
$nord1: #3b4252;
$nord2: #434c5e;
$nord3: #4c566a;

$nord4: #d8dee9;
$nord5: #e5e9f0;
$nord6: #eceff4;

$nord7: #8fbcbb;
$nord8: #88c0d0;
$nord9: #81a1c1;
$nord10: #5e81ac;

$nord11: #bf616a;
$nord12: #d08770;
$nord13: #ebcb8b;
$nord14: #a3be8c;
$nord15: #b48ead;

// Color palette
$dark-1: $nord0;
$dark-2: $nord1;
$dark-3: $nord2;
$dark-4: $nord3;

$light-1: $nord4;
$light-2: $nord5;
$light-3: $nord6;

$blueish-1: $nord7;
$blueish-2: $nord8;
$blueish-3: $nord9;
$blueish-4: $nord10;

$aurora-1: $nord11;
$aurora-2: $nord12;
$aurora-3: $nord13;
$aurora-4: $nord14;
$aurora-5: $nord15;