@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import './utils.scss';

html {
    font-family: "Red Hat Display", sans-serif;
    background: #3b4252;
    color: #d8dee9;
}

body {
    margin: 0;
}