@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

// Custom Style
@import './_includes/_variables.scss';
@import './_includes/_utils.scss';

html {
    font-family: "Red Hat Display", sans-serif;
    background: $bg-primary;
    color: $text-color-primary;
}

body {
    margin: 0;
}

.tooltip {
    @apply invisible absolute;
}

.has-tooltip:hover .tooltip {
    @apply visible z-50;
}

.wave {
    animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
    animation-duration: 2.5s;        /* Change to speed up or slow down */
    animation-iteration-count: infinite;  /* Never stop waving :) */
    transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
    display: inline-block;
}

.biography {
    color: $text-color-primary;
}

.prose a {
    color: $blueish-1;
}

.circle {
    width: 9px;
    height: 9px;
    background-color: $blueish-3;
    transform-origin: center;
    border-radius: 3rem;
    border: 1px solid $blueish-2;
    
    &:before {
        content: '';
        position: relative;
        display: block;
        width: 300%;
        height: 300%;
        box-sizing: border-box;
        margin-left: -100%;
        margin-top: -100%;
        border-radius: 45px;
        background-color: $blueish-4;
        animation: pulse-ring 1.25s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
    }
}

.hr-spine {
    width: 100%;
    height: 2px;
    background: #81a1c1 linear-gradient(90deg, $bg-primary 10%, rgba(59, 66, 82, 0) 50%, $bg-primary 90%);
}

.spine {
    width: 1px;
    background: $blueish-3 linear-gradient(0deg,$bg-primary 1rem,rgba(59, 66, 82, 0) 20vh);
}

@keyframes pulse-ring {
    0% {
        transform: scale(.33);
    }
    80%, 100% {
        opacity: 0;
    }
}

@keyframes wave-animation {
    0% { transform: rotate( 0.0deg) }
    10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
    20% { transform: rotate(-8.0deg) }
    30% { transform: rotate(14.0deg) }
    40% { transform: rotate(-4.0deg) }
    50% { transform: rotate(10.0deg) }
    60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
    100% { transform: rotate( 0.0deg) }
}
