@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

// Custom Style
@import './_includes/_variables.scss';
@import './_includes/_utils.scss';

html {
    font-family: "Red Hat Display", sans-serif;
    background: $bg-primary;
    color: $text-color-primary;
}

body {
    margin: 0;
}