<!DOCTYPE html>
<html>
<head>
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({
      google_ad_client: "ca-pub-5221298562415460",
      enable_page_level_ads: true
    });
  </script>
  <meta charset="utf-8">

  <link rel="shortcut icon" sizes="16x16 24x24 32x32 48x48 64x64" href="https://blog.thejoin.it/favicon.ico">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="propeller" content="4a3c54fcaa52c088c85bf945b9d8c0e2" />
  <meta name="google-site-verification" content="AaQt8BwVTJPIh7bAb8T_5SxcyVv1zknL3_SooUR6FGs" />
  
  <title>{{ page.title | strip_html }} | {{ site.title | strip_html }}</title>

  <!-- Meta information for search engines -->
  <meta name="author" content="{{ site.owner.name }}">
  <meta name="description" content="{% if page.description %}{{ page.description | xml_escape }}{% else %}{{ site.description | xml_escape }}{% endif %}">
  {% if page.tags %}
  <meta name="keywords" content="{{page.category}}, {{ page.tags | join: ', ' }}">
  {% endif %}

  <!-- Twitter Cards -->
  <meta name="twitter:card" content="summary" />
  {% if site.owner.twitter %}
  <meta name="twitter:creator" content="@{{ site.owner.twitter }}" />
  {% endif %}
  <meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" />
  <meta name="twitter:description" content="{% if page.description %}{{ page.description | strip_html }}{% elsif page.excerpt %}{{ page.excerpt  | strip_html }}{% else %}{{ site.description | strip_html }}{% endif %}" />
  <meta name="twitter:url" content="{{ site.url }}{{ page.url }}" />

  <!-- Open Graph -->
  <meta property="og:locale" content="en_US" />
  <meta property="og:type" content="article" />
  <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" />
  <meta property="og:description" content="{% if page.description %}{{ page.description | strip_html }}{% elsif page.excerpt %}{{ page.excerpt  | strip_html }}{% else %}{{ site.description | strip_html }}{% endif %}" />
  <meta property="og:url" content="{{ site.url }}{{ page.url }}" />
  <meta property="og:site_name" content="{{ site.title | strip_html | xml_escape }}">

  <link rel="stylesheet" href="{{site.baseurl}}/css/main.css">
  <!--   Syntax highlighting is only needed for posts -->
  {% if page.layout == 'post' %}
  <link rel="stylesheet" href="{{site.baseurl}}/css/syntax-highlighter.css">
  {% endif %}
  <link href="//fonts.googleapis.com/css?family=Space+Mono|Work+Sans:700" rel="stylesheet">    
  <!-- Set the canonical URL for search engines -->
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.url }}">
  {% if page.layout == 'post' %}
  <link rel="amphtml" href="{{ page.id | append:'.html' | prepend: site.ampdir | prepend: site.baseurl | prepend: site.url }}">
  {% endif %}

  <!-- RSS -->
  <link rel="alternate" type="application/rss+xml" title="RSS Feed for {{ site.title }}" href="{{ site.url }}/feed.xml" />
  <meta name="theme-color" content="#3d8fd1" />

</head>
<body>

<input type="checkbox" id="hamburger" name="hamburger">
<label id="label-ham" for="hamburger"></label>
<div class="menu-container">
  <div class="menu"></div>
  <div class="links">
      <a href="{{site.baseurl}}/"><i class="fa fa-home"></i>&nbsp;Home</a>
      <a href="{{site.baseurl}}/about/"><i class="fa fa-user"></i>&nbsp;About</a>
      <a href="{{site.baseurl}}/archive/"><i class="fa fa-file-zip-o"></i>&nbsp;Archive</a>
      <a href="{{site.baseurl}}/contact/"><i class="fa fa-address-book-o"></i>&nbsp;Contact</a>
  </div>
</div>

<div class="content">
<header>
     <a href="{{site.baseurl}}/"><h1 class="site-title">{{site.title}}</h1></a>
</header>
  {{ content }}
  
    <footer>
      <small>Theme based on <a href="https://github.com/ankur-gupta/trio/" target="_blank">trio</a></small>
  </footer>
</div>
  <!-- Calling Fontawesome at the end to avoid delay in loading --> 
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
{% include analytics.html %}
</body>
</html>
